<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="v1/fragments/header.html :: header">
    </th:block>
</head>
<body>
<th:block th:include="v1/fragments/header.html :: navbar">
</th:block>
<div class="container">

</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" ></script>
<script>
    var user = $.cookie("username")
    $(document).ready(function () {
        if (user != null) {
            $('#username').removeClass('d-none');
            $('#username a').innerText = user;
        }
        console.log(user)
    })

    $('#navbarSupportedContent ul li a').on("click", function () {
        console.log('aa')
        $('#navbarSupportedContent ul li a').addClass('active');
    });
</script>
<th:block th:include="v1/fragments/footer.html :: footer">
</th:block>
</html>